<nav class='nav-bar'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand logo'>R3cipe!</a>
    </div>
    <div>
      <%= link_to 'Home', root_path, class: "navi" %>
      <%= link_to 'Users', users_path, class: "navi" %>
      <!-- <%#= link_to 'Users', users_path, class: "navi" %> -->
      <!-- <#%= link_to 'News', news_index_path, %> -->
    </div>
  </div>
</nav>
